*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.encabezado{
    width: 1000px;
    height: 70px;
    background-color: #C39BD3; 
    font-family: fantasy;
    text-align: center;
}
section{
    width: 1000px;
    margin: 30px auto;
    box-sizing: border-box;
}

/*SECCIÓN 1*/
.TITULO{
    color: #D93B3B;
    Font-size:60px;
    font-family:fantasy;   
    margin: 10px 0px 0px 0px;
    text-align: center;
}
/*SECCIÓN 2*/

.titulo_tabla{
    text-align:center;
    Font-size:25px;
    color:black;
    background-color:#F27A5E;
    font-family:fantasy; 
}
.subtitulo{
    Font-size:17px;
    color:#182126;
}
.title_1{
    margin: 10px 0px 10px 0px;
    color: #166B8C;
    list-style: none;
    text-align: center;
    Font-size:30px;
}
.titulo_2{
    margin: 10px 0px 10px 0px;
    color: #166B8C;
    list-style: none;
    text-align: center;
    Font-size:30px;
}
.titulo_3{
    margin: 10px 0px 10px 0px;
    color: #166B8C;
    list-style: none;
    text-align: center;
    Font-size:30px;
}
.titulo_4{
    margin: 10px 0px 10px 0px;
    color: #166B8C;
    list-style: none;
    text-align: center;
    Font-size:30px;
}
.tabla{
    margin: 10px 20px 10px 10px; 
    border: #ABB2B9 4px solid;
}
.img_1{
    width: 300px;
}
.img_2{
    width: 90px;
}

/*secton_texto*/
section ul{
    margin: 0px 0px 0px 15px;
}
.h2{
    font-size: 1.3em;
    margin-top: 1em;
}
.p{
    font-size: 1.2em;
}
/*sublista*/
.sub_lista{
    margin: 10px 0px 0px 20px;
}

.sub_lista li{
    margin: 10px 0px 0px 20px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #C39BD3; 
    text-align: center;
    font-family: fantasy;
}   color: #2E4053;










